In [2]:
x="abcd"
"d" in x

True

In [3]:
"d" not in x

False

In [4]:
"wb" in x

False

In [5]:
"ab" in x

True

In [6]:
#sequencial data types ---- string, list, tupple, sets, dictionary

In [7]:
x="abc"
for y in x:
    print(y)

a
b
c

In [9]:
x="abcdefghijklmnopqrstuvwxyz"
for y in x:
    print(y)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [10]:
x="abcdefghijklmnopqrstuvwxyz"
for y in x:
    print(y)
    print("hi")

a
hi
b
hi
c
hi
d
hi
e
hi
f
hi
g
hi
h
hi
i
hi
j
hi
k
hi
l
hi
m
hi
n
hi
o
hi
p
hi
q
hi
r
hi
s
hi
t
hi
u
hi
v
hi
w
hi
x
hi
y
hi
z
hi

In [11]:
x=[1,2,3,4,"a"]
for y in x:
    print(y)

1
2
3
4
a

In [12]:
x=(1,2,3,4,"a")
for y in x:
    print(y)

1
2
3
4
a

In [13]:
x={1,2,3,4,"a"}
for y in x:
    print(y)

1
2
3
4
a

In [14]:
x={"name":"virat","age":33,"wight":75,"height":172}
for y in x:
    print(y)

name
age
wight
height

In [15]:
x={"name":"virat","age":33,"wight":75,"height":172}
for y in x.keys():
    print(y)

name
age
wight
height

In [16]:
x={"name":"virat","age":33,"wight":75,"height":172}
for y in x.values():
    print(y)

virat
33
75
172

In [17]:
x={"name":"virat","age":33,"wight":75,"height":172}
for y in x.items():
    print(y)

('name', 'virat')
('age', 33)
('wight', 75)
('height', 172)

In [18]:
#range(startig range, ending range)---also consider as sequential data type

In [19]:
range(1,101)

range(1, 101)

In [25]:
for y in range(1,10):
    print(y)

1
2
3
4
5
6
7
8
9

In [26]:
#step size ---how many jump to made
for y in range(0,10,2):
    print(y)

0
2
4
6
8

In [27]:
for y in range(0,10,3):
    print(y)

0
3
6
9

In [28]:
for y in range(0,10):
    if y==5:
        break
    print(y)

0
1
2
3
4

In [29]:
for y in range(0,10):
    if y==5:
        continue
    print(y)

0
1
2
3
4
6
7
8
9

In [31]:
for y in range(10,0,-1):
    print(y)

10
9
8
7
6
5
4
3
2
1

In [34]:
for y in range(100,10,-1):
    print(y)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [35]:
x=1
if x==1:
    print("hi")

hi

In [36]:
#short hand if statement

if x==1:print("hi")

hi

In [37]:
if True:
    print("hi")
    print("bye")

hi
bye

In [38]:
if True:print("hi"),print("bye")

hi
bye

In [44]:
if True:
    if x==10:
        print("hi")
    elif x<100:
        print("bye")
    else:
        print("not equal")

bye

In [41]:
print("hi") if False else print("bye")

bye

In [49]:
#Q l=[1,2,3,"a","b","c",14] , how many numbers and how many character?
l=[1,2,3,"a","b","c",14]
i=0
c=0
for y in l:
    if type(y)==int:
        i=i+1
    else:
        c=c+1

In [51]:
i

4

In [52]:
c

3

In [53]:
l=[1,2,3,"a","b","c",14,13.1,12+4j]
a=0
b=0
c=0
d=0

for y in l:
    if type(y)==int:
        a+=1     
    elif type(y)==str:
=        b+=1
    elif type(y)==float:
        c+=1
    else:
        d+=1

In [54]:
a

4

In [55]:
b

3

In [56]:
c

1

In [57]:
d

1

In [80]:
x=0
for y in range(0,100):
    if y%2==0:
        x+=1

In [81]:
x

50

In [82]:
x=0
for y in range(0,100):
    if y%2!=0:
        x+=1

In [83]:
x

50

In [8]:

for i in x;
    if i++10:
        x+=1

SyntaxError: invalid syntax (1727336354.py, line 1)

In [3]:
# Program to check if a number is prime or not

n=int(input("Enter Number: "))

for i in range(2,n):
    if n%i == 0:
        print(n,"is not prime")
        break
else:
    print(n,"is Prime")

Enter Number: 3
3 is Prime

In [6]:
# Program to check if a number is prime or not

num = int(input("Enter Number: "))

# prime number are greater than 1

if num >1:
    # check for factors
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
    else:
        print(num,"is a prime number")

Enter Number: 7
7 is a prime number

In [9]:
else:
    print(num,"is a prime number")
    
    1000000007

SyntaxError: invalid syntax (262603240.py, line 1)

In [ ]:
// Armstrong
// For a given 3 digit number, find whether it is armstrong number or not. An Armstrong number of three digits is an integer such that the sum of the cubes of its digits is equal to the number itself. Print Yes if it is a armstrong number else print No.

// Input
// One integer, denoting the 3 digit number.

// Output
// One string, denoting Yes or No.

// Example
// Input1:

// 153
// Output1:

// Yes
// Explanation:

// 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
easy ahe bagh kr solve
// Mean
// Given the marks of n students, calculate the mean.

// Note: If the result is a decimal Value, print it's floor value.

// Input
// First line contains an integer, denoting n.

// Second line contains n space seperated integers, denoting the marks.

// Output
// One Integer, denoting the mean of the marks.

// Example
// Input:

// 4
// 56 67 30 82
// Output:

// 58
// Explanation:

// 56+67+30+82 = 235
// Mean = 235/4 = 58.75
// floor(58.75) is 58
// So, the Output is 58.

In [16]:
# Program to check if a number is prime or not

#num = 407

# To take input from the user
num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter a number: 22
22 is not a prime number
2 times 11 is 22

In [5]:
l1=["a","b",1,2,2.2]

l2=[]
for i in l1:
    if str(i).isalpha():
        l2.append(i)

In [7]:
"".join(l2)

'ab'